# Windows system files
NTUSER.DAT*
ntuser.*
[Tt]humbs.db
*.log

# User profile directories
/AppData/
/Contacts/
/Downloads/
/Favorites/
/Links/
/Saved Games/
/Searches/

# Application data folders
/.Xilinx/
/.atom/
/.vscode/
/Dropbox/
/Evernote/
/OneDrive/
/PycharmProjects/
/IntelGraphicsProfiles/

# Custom project directories (evaluate if you actually want to ignore these)
/abhir/
/backend/
/c++/
/new start with c/
